{% extends 'base.html' %}

{% block content %}


<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">Магазин</h1>
              <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Магазин</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end inner page banner -->

<!-- section PRODUCT-->
<div class="section padding_layout_1 product_list_main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
            {% for product in products %}
          <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
            <div class="product_list">
              <div class="product_img"><a href="/shop/{{ product.id }}/"> <img class="img-responsive" src="/media/{{ product.logo }}" alt=""></a> </div>
              <div class="product_detail_btm">
                <div class="center">
                  <h4><a href="/shop/{{ product.id }}/">{{ product.title }}</a></h4>
                </div>
                <div class="starratin">
                  <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                </div>
                <div class="product_price">
                  <p><span class="old_price">${{ product.old_price }}</span> – <span class="new_price">${{ product.price }}</span></p>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>

        <!-- Pagination-->
        <div class="center">
            <ul class="pagination style_1">
              {% if p != 1 %}
              <li><a href="/shop?limit={{ limit }}&p={{ prev_p }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
              {% endif %}

              {% for x in page_range %}
                {% if p == x %}
                <li class="active"><a href="#">{{ x }}</a></li>
                {% else %}
                <li><a href="/shop?limit={{ limit }}&p={{ x }}">{{ x }}</a></li>
                {% endif %}
              {% endfor %}

              {% if p < page_count  %}
              <li><a href="/shop?limit={{ limit }}&p={{ next_p }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
              {% endif %}

            </ul>
        </div>

      </div>
      <div class="col-md-3">
        <div class="side_bar">

          <div class="side_bar_blog">
            <h4>ПОИСК</h4>
            <div class="side_bar_search">
              <div class="input-group stylish-input-group">
                <input class="form-control" placeholder="Поиск" type="text">
                <span class="input-group-addon">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
              </div>
            </div>
          </div>

          <div class="side_bar_blog">
            <h4>КАТЕГОРИИ</h4>
            <div class="categary">
              <ul>
                <li {% if not category_id  %} class="active" {% endif %} ><a href="/shop/?limit={{ limit }}&category_id=0"><i class="fa fa-angle-right"></i> ВСЕ ТОВАРЫ</a></li>
                {% for category in categories %}
                <li {% if category_id == category.id %} class="active" {% endif %} ><a href="/shop/?limit={{ limit }}&category_id={{ category.id }}"><i class="fa fa-angle-right"></i> {{ category.title }}{% if category_id == category.id %} ({{ item_count }}) {% endif %}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="side_bar_blog">
            <h4>НАШИ УСЛУГИ</h4>
            <div class="categary">
              <ul>
                {% for service in services %}
                <li><a href="#"><i class="fa fa-angle-right"></i> {{ service.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->


{% endblock %}